


  <div class="d-flex justify-content-center align-items-center > 
  <a href="#"  class="btn btn-success"></a>

  <a href="/" id="success"  class="btn btn-success">Home</a>
  <a href="/rent/new" id="dark"  class="btn btn-dark">New</a>
  <a href="/rent/all"  id="danger" class="btn btn-danger">ViewAll</a>

  </div>


   