 <!-- Background image -->
  <div
    class="p-2 text-center bg-image"
    style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">SEARCH</h1>
          <h4 class="mb-3">HERE</h4>
          <div class="input-group">
  <div class="form-outline">
    <input id="search-focus" name="search" type="search" id="form1" class="form-control" />
    <label class="form-label" for="form1">Search</label>
  </div>
  <button type="button" class="btn btn-primary">
    <i class="fas fa-search"></i>
  </button>
</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->