<hr>

<form action="/rent/new" method="POST" enctype="multipart/form-data" autocomplete="off">

<div class="d-grid justify-content-center align-items-center h-600">


<div class="form-outline">
  <input type="text" id="form1" name="name" class="form-control" required />
  <label class="form-label" for="form1">Name</label>
  </div>
  <br>

  <div class="form-outline">

  <input type="text" id="form1" name="area" class="form-control" required />
  <label class="form-label" for="form1">Area</label>
  </div>

   <br>

<div class="form-outline">
  <input type="text" name="available" id="form1" class="form-control" required />
  <label class="form-label" for="form1">Availabilty</label>
  </div>

   <br>
   
<div class="form-outline">

  <textarea class="form-control" name="description" id="textAreaExample" rows="4"></textarea>
  <label class="form-label" for="textAreaExample">Description</label>
  </div>

   <br>

   <div class="form-outline">

  <input type="text" name="contact" id="form1" class="form-control" required />
  <label class="form-label" for="form1">contact</label>

  </div>

  <br>

   <div class="form-outline">

  <input type="file" name="image" id="file" class="form-control" />
 

  </div>

   <br>

<br>

<button type="submit" class="btn btn-dark">Submit</button>
</div>

</form>

