 <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>OUR STORE</strong></h4>

        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <h5 class="card-title">Area</h5>
                <p class="card-text">
                  Description
                </p>
                <a href="#!" class="btn btn-danger">Available</a>
                <a href="#!" class="btn btn-primary">Contact</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/023.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <h5 class="card-title">Area</h5>
                <p class="card-text">
                  Description
                </p>
                <a href="#!" class="btn btn-danger">Available</a>
                <a href="#!" class="btn btn-primary">Contact</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/002.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <h5 class="card-title">Area</h5>
                <p class="card-text">
                  Description
                </p>
                <a href="#!" class="btn btn-danger">Available</a>
                <a href="#!" class="btn btn-primary">Contact</a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                <img src="https://mdbootstrap.com/img/new/standard/nature/022.jpg" class="img-fluid" />
                <a href="#!">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
             <div class="card-body">
                <h5 class="card-title">Post title</h5>
                <h5 class="card-title">Area</h5>
                <p class="card-text">
                  Description
                </p>
                <a href="#!" class="btn btn-danger">Available</a>
                <a href="#!" class="btn btn-primary">Contact</a>
              </div>
            </div>
          </div>
        </div>
      </section>